extends ../layout
block content
    .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
        html.
          <h2 class='text-center'></a>Cam kết trung thực trong học tập</h2>
          <hr>
          <p>Trước khi trở thành học viên mọi người cần cam kết trung thực trong học tập.</p>
          <p>"Tôi biết rằng đạo mã là sao chép mã của người khác và dùng nó như là mã của mình mà không chú thích nguồn</p>
          <p>"Tôi biết rằng đạo mã là hành động vô đạo đức, và thường bị buộc thôi học hoặc xa thải.</p>
          <p>"Bên cạnh sử dụng thư viện mã nguồn mở như jQuery và Bootstrap, và các đoạn mã ngắn đã rõ nguồn, 100% mã trong dự án phải tự viết hoặc được viết cùng với người lập trình cặp.</p>
          <p>"Tôi cam kết rằng tôi không ăn cắp mã. Tôi biết rằng Free Code School sẽ kiểm tra mã dự án của tôi."</p>
          <p>"Trong trường hợp phát hiện đạo mã, chúng tôi sẽ có ghi chú trong chứng chỉ của bạn: Không trung thực trong học tập."</p>
          <p>Là một tổ chức đào tạo, chúng ta hãy cam kết học tập nghiêm túc. Nếu bạn có bất kỳ câu hỏi gì về cam kết này hoặc nghi ngờ có người vi phạm nó, bạn có thể liên hệ <a href="mailto:team@freecodecamp.com">team@freecodecamp.com</a> và chúng tôi sẽ điều tra.</p>
