extends ../layout
block content
    .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
        h1.text-center Quy tắc ứng xử
        hr
        p Chúng tôi cam kết tạo ra một môi trường thân thiện, tạo điều kiện tối đa cho học viên.
        p Khi trở thành học viên, bạn đồng ý tuân thủ những quy tắc sau:
        p Không quấy rầy, trêu chọc hoặc gửi thư rác.
        ul
            li <bold>Quấy rầy</bold> bao gồm xâm phạm thân thể, nhân phẩm, cố ý đe doạ, rình rập và phát tán mã độc nhằm vào người khác. Free Code School là một môi trường bình đẳng với tất cả mọi người, không phân biệt giới tính, tuổi tác, khuyết tật, ngoại hình, kích thước cơ thể, chủng tộc, nguồn gốc quốc gia, tôn giáo...
            li <bold>Trêu chọc</bold> bao gồm kích động cảm xúc người khác hoặc làm gián đoạn các cuộc thảo luận.
            li <bold>Gửi thư rác</bold>bao gồm gửi những tin nhắn vô nghĩa phá vỡ các cuộc thảo luận, quảng cáo sản phẩm, xin quyên góp.
        p Nếu bạn cảm thấy bị quấy rầy, trêu chọc hoặc nhận được thư rác từ các kênh trực tuyến của Free Code School (Gitter, YouTube, Facebook, etc.), thông báo cho &thinsp;
            a(href='https://gitter.im/freecodecamp/admin' target='_blank') Phòng Quản Trị
            | &thinsp; của chúng tôi kèm theo hình ảnh minh chứng. Chúng tôi sẽ xem xét xử lý thích đáng.
        p Ngoài ra, "bots chat" không được tham gia phòng chat và diễn đàn mà không được cho phép bằng văn bản từ &thinsp;
            a(href='https://gitter.im/FreeCodeCamp/CoreTeam' target="_blank") Free Code School's nhóm.
        p Nếu bạn có thắc mắc về Quy tắc ứng xử này, liên lạc với chúng tôi at&thinsp;
            a(href='mailto:team@freecodecamp.com') team@freecodecamp.com
            | .
