extends ../layout
block content
    .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
        h2.text-center Cách dự án hoạt động
        hr
        p Chúng tôi xây dựng trung tâm đào tạo lập trình phi lợi nhuận. Bất kỳ ai yêu thích lập trình đều có thể tham gia.
        h3 Starting with the end in mind
        p Mục tiêu của chúng tôi là giúp bạn tìm được công việc lập trình phù hợp với khả năng hoặc thăng tiến trong công việc hiện tại.
        p You’ll continue to work on nonprofit projects until you’ve built a sufficiently impressive portfolio and references to start your job search. Your portfolio will ultimately have four nonprofit projects. We estimate that the 800 hours of nonprofit projects and 80 hours of interview prep you’re going to complete, in addition to the 1,200 hours of challenges you’ve already completed by this point, will be more than enough to qualify you for your first coding job.
        h3 Your first Nonprofit Project
        p We generally scope Nonprofit Projects to 200 hours, or about 10 weeks at 20 hours per week of development per camper. These are only rough estimates. You’ll only work on one project at a time.
        p You will choose another camper to partner with on this projects. You should choose them based on:
        ol
            li How many hours you can pledge (around 10, 20, or 40 hours per week)
            li Your time zones (Will you be able to pair program together?)
            li Prior coding experience (we’d like both campers to be able to contribute equally)
        p We don't take age or gender into account. This will provide you with valuable experience in meshing with diverse teams, which is a reality of the contemporary workplace.
        p Then, you’ll email&thinsp;
            a(href="mailto:team@freecodecamp.com") team@freecodecamp.com
            |&thinsp; with:
        ol
              li Names
              li Contact information
              li Links to each of your Free Code Camp code portfolios
              li Timezones
              li Hours pledged per week
        p We’ll send you a list of 3 nonprofit projects that need your help, and together you will choose one to begin work on. While you do this, our team will code review each of your code portfolios to ensure that all user stories have been completed, and that there are no signs of academic dishonesty.
        h3 Beginning the Project
        p We’ll set an initial meeting with representatives from Free Code Camp, the two campers, and the stakeholder. If the stakeholder and both campers show up promptly, and seem enthusiastic and professional, we’ll start the project. This lengthy process serves an important purpose: it reduces the likelihood that any of our campers or stakeholders will waste their precious time.
        h3 Bộ máy hoạt động
        p Dụ án được đầu tư từ những tổ chức phi lợi nhuận. Các tổ chức sẽ chọn ra một người có chuyên môn để điều hành Free Code School.
        p Học viên được tư vấn về các khoá học tuỳ theo nhu cầu bởi những người có chuyên môn lâu năm trong lĩnh vực công nghệ thông tin.
        p Trước khi trở thành học viên bạn cần:
        ol
            li giúp chúng tôi hiểu rõ nhu cầu của bạn.
            li tạo ra một bảng Trello mới và lưu những việc cần làm.
            li cam kết hoàn thành khoá học.
        p Lý tưởng nhất, bạn sẽ được chúng tôi giới thiệu vào một trong những công ty công nghệ hàng đầu ngay sau khi hoàn thành khoá học.
        p You’ll continue to meet with your stakeholder weekly using the conference software GoToMeeting. You will also correspond with the team on the project’s Trello board.
        p Nếu có bất kỳ thắc mắc gì trong lúc học bạn nên chủ động đưa ra câu hỏi cho giảng viên.
        p Bạn sẽ hoàn thành khoá học và nhận chứng chỉ sau khi đạt đủ điều kiện chúng tôi đưa ra.
        h3 Cơ hội giao lưu, làm việc với những người trong nghành
        p Các bạn sẽ được ghép đôi để lập trình cặp và xử dụng cùng một máy tính trong hầu hết thời gian.
        p Một số phần mềm khuyến nghị:
        ol
            li Gitter là phần mềm nhắn tin ưu việt. Được đội ngủ giảng viên xử dụng để giao tiếp.
            li Trello rất hữu ích trong việc quản lý dự án. Cùng với người lập trình cặp tạo một thẻ Trello, cập nhật tiến độ thường xuyên.
            li Screen Hero hoặc Team Viewer - Cách rất hay để lập trình cặp. TMUX có vẻ tốt hơn nhưng khó xử dụng. Chúng tôi khuyến khích sử dụng các công cụ chia sẻ màn hình để lập trình cặp hiệu quả.
            li Viết mã clear và readable, commit messages, branch names, and pull request messages.
        h3 Hosting Apps
        p Trừ khi bạn có một máy chủ hiện đại (AWS, Digital Ocean), bạn cần chuyển đổi sang một nền tảng mới. Heroku là lựa chọn rất tốt cho các dự án web. Heroku miễn phí, dễ sử dụng, có giao diện trình duyệt và dòng lệnh. Được tạo ra bởi Salesforce và được rất nhiều các công ty sử dụng
        p Nếu bạn cần thuyết phục đối tác rằng Heroku là nền tảng lý tưởng, chúng tôi luôn sẵn sàng để nói chuyện với họ.
        h3 Maintaining Apps
        p Once you complete a nonprofit project, your obligation to its stakeholder is finished. Your goal is to leave behind a well documented solution that can be easily maintained by a contract JavaScript developer (or even a less-technical "super user").
        p While you will no longer need to help with feature development, we encourage you to consider helping your stakeholder with occasional patches down the road. After all, this project will be an important piece of your portfolio, and you’ll want it to remain in good shape for curious future employers.
        h3 Cam kết hoàn thành dự án
        p Nhà đầu tư, người lập trình cặp cùng bạn, và đội ngũ tình nguyện viên của chúng tôi đều mong muốn bạn hoàn thành khoá học. Nếu bạn chưa hoàn thành khoá học bạn không thể đăng ký bất kỳ khoá nào khác.
        p Yêu cầu bạn nghiêm túc thực hiện cam kết trên. Để đảm bảo tính pháp lý, yêu cầu tất cả học viên ký &thinsp;
            a(href='http://goo.gl/forms/ZMn96z2QqY' target='_blank') cam kết này
            | &thinsp;trước khi bắt đầu khoá học.
        p Có thể sẽ có nhầm lẫn hoặc thất vọng. Điều này rất bình thường trong phát triển phần mềm. Quan trọng là bạn không từ bỏ, luôn luôn kiên trì vượt qua khó khăn. Như Steve Jobs đã nói, "Real artists ship." Bạn và chúng tôi đang đi trên cùng một chuyến tàu cho đến khi bạn sẵn sàng để bước bước tiếp theo trong sự nghiệp đầy hứa hẹn của bạn.
