extends ../layout
block content
    h2.text-center Mua những thứ cool và hỗ trợ cộng đồng từ phía chúng tôi:Buy cool stuff and support our open source community:
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.text-center
            img.img-responsive.img-center(src='//i.imgur.com/0JSMQlO.jpg')(#thay đường dẫn )
            h3 Áo T-shirt 
            p Áo T-shirt được in hình iconic "Free Code School.
            p Áo mang đậm cá tính, đơn giản - dễ dàng kết hợp với váy, quần jean, quần ngắn, phù hợp cho cả nam và nữ.
            a.btn.btn-cta.signup-btn.btn-block(href='http://bit.ly/2cIteT1' target='_blank' onClick="ga('send', 'event', 'Shop', 'clicked', 'bonfire function call tshirt');") Mua ngay(#thay đường dẫn)
    hr
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.text-center
            img.img-responsive.img-center(src='//i.imgur.com/Ev3dGx2.jpg')(#thay đường dẫn )
            h3 Cốc 
            p Thiết kế đơn giản nhưng vô cùng sang trọng. Được làm từ chất liệu thủy tinh, đế cốc dày dặn, chắc chắn. Sản phẩm trong suốt, không độc hại, an toàn sức khỏe của bạn và gia đình.
            p Chất liệu thủy tinh của cốc đảm bảo độ trong vắt, không pha một chút màu nào nên có thể phản ảnh trung thực màu nước mà bạn đang uống.
            p Cốc có thể để uống nước lọc, nước chanh, cam.... phù hợp sử dụng trong văn phòng hoặc trong gia đình.
            p Tinh tế trong từng chi tiết nhỏ, sản phẩm không chỉ bền mà còn đẹp và hiện đại giúp điểm tô cho không gian sinh động.
            a.btn.btn-cta.signup-btn.btn-block(href='http://bit.ly/2cHlCx6' target='_blank' onClick="ga('send', 'event', 'Shop', 'clicked', 'bonfire function call hoodie');") Mua ngay(#thay đường dẫn)

    hr
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.text-center
            img.img-responsive.img-center(src='//i.imgur.com/nlupFKM.jpg')
            h3 Tem dán laptop 
            p Tem được in hình iconic "Free Code School và dán lên laptop hoặc màn hình máy tính, máy tính .
            a.btn.btn-cta.signup-btn.btn-block(href='http://bit.ly/2bQ97AU' target='_blank' onClick="ga('send', 'event', 'Shop', 'clicked', 'all talk tshirt');") Mua ngay(#thay đường dẫn)

    hr
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.text-center
            img.img-responsive.img-center(src='//i.imgur.com/H4q9EAo.jpg')
            h3 Balo 
            p Balo mang lại sự trẻ trung, cá tính cho người dùng. 
            p Balo được thiết kế với kích thước không quá lớn cho phép bạn đựng các vật dụng cá nhân dù là đi chơi đi học, hay đi dã ngoại đều phù hợp. Phía trước balo được in logo ép nhiệt thương hiệu adidas tạo nét nổi bật cá tính cho sản phẩm. Có nhiều màu màu cực kì tươi tắn cho bạn lựa chọn phù hợp với sở thích riêng. Chiếc balo đẹp này có thể sử dụng khi đi chơi, đi dạo phố, đi du lịch đều thời trang cho bạn bất cứ đâu. 
            p Chất vải dù mềm mại chắc chắn, cho bạn yên tâm mua sắm sử dụng cũng như làm quà tặng đầy ý nghĩa.
            a.btn.btn-cta.signup-btn.btn-block(href='http://bit.ly/2b4Gq12' target='_blank' onClick="ga('send', 'event', 'Shop', 'clicked', 'open data onesie');") Mua ngay(#thay đường dẫn)

    hr
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.text-center
            img.img-responsive.img-center(src='//i.imgur.com/FNFqn9Tg.jpg')
            h3 Free Code Camp laptop stickers (#bỏ phần này )
            p Get 2 for only $5, with free shipping anywhere!
            p These durable 2" (5 cm) stickers sport a matte finish, and look great anywhere - especially on your laptop.
            html.
                <form action="//www.paypal.com/cgi-bin/webscr" onSubmit="ga('send', 'event', 'Shop', 'clicked', 'Freecodecamp sticker');" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="R9AGYKJUCU37N">
                <input type="submit" class="btn btn-cta signup-btn btn-block" name="submit" value='Get these with PayPal or a Credit Card'>
                <img alt="" border="0" src="//www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
    hr

    .big-break
    h2.text-center These audiobooks are extremely popular with developers:
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.text-center
            img.img-responsive.img-center(src='//i.imgur.com/0aHcAtS.jpg')
            h3 The Innovators: How a Group of Hackers, Geniuses, and Geeks Created the Digital Revolution  (#bỏ phần này )
            p Get this audiobook and another of your choosing for free with an Audible free trial.
            a.btn.btn-cta.signup-btn.btn-block(target='_blank' href="http://amzn.to/2aZVCR6" onClick="ga('send', 'event', 'Shop', 'clicked', 'book-the-innovators');") Get this audiobook for free

    hr
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.text-center
            img.img-responsive.img-center(src='//i.imgur.com/1088eKE.jpg')
            h3 The Master Switch: The Rise and Fall of Information Empires (#bỏ phần này )
            p Get this audiobook and another of your choosing for free with an Audible free trial.
            a.btn.btn-cta.signup-btn.btn-block(target='_blank' href="http://amzn.to/2cjtFDH" onClick="ga('send', 'event', 'Shop', 'clicked', 'book-master-switch');") Get this audiobook for free

    hr
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.text-center
            img.img-responsive.img-center(src='//i.imgur.com/kAzbbvk.jpg')
            h3 Hackers: Heroes of the Computer Revolution (#bỏ phần này )
            p Get this audiobook and another of your choosing for free with an Audible free trial.
            a.btn.btn-cta.signup-btn.btn-block(target='_blank' href="http://amzn.to/2bIHlYP" onClick="ga('send', 'event', 'Shop', 'clicked', 'book-hackers');") Get this audiobook for free            
