h1 Đây là trang web nhanh nhất trên internet.
h2 Đây là trang web thuần HTML, ko chứa mã JavaScript và CSS.
h2 Chúng tôi sử dụng Node.js và NGINX phía Server Site.
h2 Tuy nhiên, trang web này không làm gì cả.
h2 Sau tất cả, tôi nghĩ rằng, tốc độ không phải là mọi thứ.
h2
    a(href='/') Học để code thêm được nhiều websites hữu dụng hơn nữa.
