#issue-modal.modal(tabindex='-1')
    .modal-dialog.animated.fadeIn.fast-animation
        .modal-content
            .modal-header.challenge-list-header Có phải bạ đã tìm được một lỗi?
                a.close.closing-x(href='#', data-dismiss='modal', aria-hidden='true') ×
            .modal-body.text-center
                h3 Trước khi gửi một vẫn đề, hãy đọc "Help! Tôi đã tìm ra một lỗi" và duyệt các vấn đề khác với thử thách này.
                a.btn.btn-lg.btn-primary.btn-block#help-ive-found-a-bug-wiki-article(name='_csrf', value=_csrf) Dọc "Help! Tôi đã tìm ra một lỗi"
                a.btn.btn-lg.btn-primary.btn-block#search-issue(name='_csrf', value=_csrf) Duyệt các vấn đề khác trong thử thách này.
                a.btn.btn-lg.btn-primary.btn-block#report-issue(name='_csrf', value=_csrf) Tạo một vấn đề Github của tôi
                a.btn.btn-lg.btn-primary.btn-block(href='#', data-dismiss='modal', aria-hidden='true') Hủy

#reset-modal.modal(tabindex='-1')
    .modal-dialog.animated.fadeInUp.fast-animation
        .modal-content
            .modal-header.challenge-list-header Xóa code của bạn.
                a.close.closing-x(href='#', data-dismiss='modal', aria-hidden='true') ×
            .modal-body
                h3 This will restore your code editor to its original state.
                Việc này sẽ khôi phục trình biên tập code của bạn về ban đầu
                a.btn.btn-lg.btn-warning.btn-block#reset-button(href='#', data-dismiss='modal', aria-hidden='true') Xóa code của tôi
                a.btn.btn-lg.btn-primary.btn-block(href='#', data-dismiss='modal', aria-hidden='true') Hủy
