extends ../layout
block content
    .panel.panel-info
        .panel-body
            h3.text-center You've commited!
            .row
                .col-xs-12.col-sm-6.col-sm-offset-3
                  p Xin chúc mừng, bạn đã cam kết
                    span(style='text-transform: capitalize')  #{nonprofit}
                    |  #{amount} $ một tháng cho đến khi bạn hoàn thành mục tiêu của mình
                    |  hoàn thành mục tiêu #{goal}
            .row
                .col-xs-12.col-sm-6.col-sm-offset-3
                  img.img-responsive(src='//i.imgur.com/U1CyEuA.jpg' alt="Girl Develop It participants coding at tables.")
                  p Girl Develop là một tổ chức phi lợi nhuận cung capps các lớp học lập trình cho phụ nữ.
