extends layout
block content
    .text-center
        .row
            h1.landing-heading Learn to code and help nonprofits
            .big-break
            .big-break
            .big-break
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_connect.svg', alt='Get great references and connections to start your software engineer career')
                p.large-p
                    a(href='/map') 17,000,000+
                    | &thinsp;thách thức lập trình được giải quyết
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_nonprofits.svg', alt='Help nonprofits with bro bono code projects')
                p.large-p
                    a(href='/nonprofits') $1,000,000+
                    | &thinsp;in donated development work
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_portfolio.svg', alt='Get hired as a developer and start your software engineer career')
                p.large-p
                    a(href='/stories') 2,000+
                    | &thinsp;người giống bạn có công việc lập trình
        .big-break
        .big-break
        .row
            .col-xs-12.col-sm-8.col-sm-offset-2
                a.btn.btn-cta.signup-btn.btn-block(href="/signup") Start coding (it's free)
        .spacer
        h2 As featured in:
        img.img-center.img-responsive(src='https://s3.amazonaws.com/freecodecamp/as-seen-on.png')
        .spacer
        hr
        .spacer
        h2 Khởi động sự nghiệp lập trình của bạn
        .spacer
        .row
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.testimonial-image.img-center(src="//i.imgur.com/nsvNixW.jpg", alt="Meta's testimonial image")
                p.testimonial-copy Qua Free Code School, tôi xây dựng một ứng dụng web mạnh mẽ, chức năng cao cho mục đích phi lợi nhuận. Và nó đưa tôi đến một công việc tuyệt vời.
                h3 - Meta Hirschl
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.testimonial-image.img-center(src="//i.imgur.com/QPpjPac.jpg", alt="Brian's testimonial image")
                p.testimonial-copy Free Code Camp's a great way for disabled veterans like me to retrain. I'm receiving engineering job offers, and I haven't even finished yet.
                h3 - Brian Grant
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.testimonial-image.img-center(src="//i.imgur.com/wjlDigg.jpg", alt="Maxim Orlov's testimonial image")
                p.testimonial-copy Tôi bắt đầu Free Code School khi chưa hiểu gì về phát triển web. 6 tháng sau, tôi có công việc back end engineer.
                h3 - Maxim Orlov
        .spacer
        hr
        .spacer
        h2 Learn powerful skills
        .spacer
        .row
            .text-center.negative-35
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-html5
                    h2.black-text HTML5
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-css3
                    h2.black-text CSS3
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-javascript
                    h2.black-text JavaScript
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.fa.fa-database.font-awesome-padding
                    h2.black-text Databases
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-github
                    h2.black-text Git & GitHub
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-nodejs
                    h2.black-text Node.js
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.custom-landing-skill-icon
                        img(src='https://s3.amazonaws.com/freecodecamp/react.svg')
                    h2.black-text React.js
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.custom-landing-skill-icon
                        img(src='https://s3.amazonaws.com/freecodecamp/d3-logo.svg')
                    h2.black-text D3.js
        .spacer
        hr
        .spacer
        .col-xs-offset-0.col-sm-offset-1.text-left.large-p
            h2 Đây là lý do tại sao bạn nên tham gia cộng đồng mã nguồn mở của chúng tôi ngay bây giờ:
            .spacer
            ul.large-li
                li 
                    span.fa.fa-code 
                    | &thinsp; Bạn sẽ nhận được sự giúp đỡ trong thời gian thực từ các phòng chat cộng đồng của chúng tôi.
                li
                    span.fa.fa-code 
                    | &thinsp; Bạn sẽ gặp gỡ với các lập trình viên khác trong thành phố của bạn.
                li
                    span.fa.fa-code 
                    | &thinsp; Bạn sẽ học lập trình với tiến độ của bạn, trong trình duyệt của bạn hoặc trên điện thoại của bạn.
                li
                    span.fa.fa-code 
                    | &thinsp; Bạn sẽ làm việc thông qua các khóa học tương tác, tập trung của chúng tôi.
                li
                    span.fa.fa-code 
                    | &thinsp; Bạn sẽ được học full-stack công nghệ javascript hiện đại nhất.
                li 
                    span.fa.fa-code 
                    | &thinsp; Bạn sẽ xây dựng các dự án phi lợi nhuận, thực hiện các nhiệm vụ của chúng tôi hiệu quả hơn.
                li
                    span.fa.fa-code 
                    | &thinsp; Bạn sẽ tập hợp danh mục đầu tư của các ứng dụng thật được dùng bởi người thật.
        .big-break
        .row
            .col-xs-12.col-sm-8.col-sm-offset-2
                a.btn.btn-cta.signup-btn.btn-block(href="/signup") Start coding (it's free)
        script.
            challengeName = 'Home'
