extends ../layout
block content
    include ../partials/flyer
    #modal-dialog.modal.animated.wobble
        .modal-dialog
            .modal-content
                .modal-header
                    a.close(href='/about', data-dismiss='modal', aria-hidden='true') ×
                    h3 Bạn có thật sự muốn xóa tài khoản?
                .modal-body
                    p Hành động này sẽ xóa toàn bộ dữ liệu của bạn, bao gồm cả các tiến trình và điểm tích lũy hiện tại.
                    p Sau khi đã xóa tài khoản thành công, toàn bộ dữ liệu của bạn sẽ bị xóa và không thể khôi phục.
                    p Hãy gửi mail cho chúng tôi nếu bạn có bất kỳ ý kiến hay ý tưởng nào, để chúng tôi có thể phục vụ bạn một cách tốt nhất.
                        a(href="mailto:team@freecodecamp.com") team@freecodecamp.com
                        | .
                .modal-footer
                    a.btn.btn-success.btn-block(href='/about', data-dismiss='modal', aria-hidden='true')
                        | Thôi bỏ đi. Tôi không muốn xóa tài khoản của mình.
                    .spacer
                    form(action='/account/delete', method='POST')
                        input(type='hidden', name='_csrf', value=_csrf)
                        button.btn.btn-danger.btn-block(type='submit')
                            | Tôi chắc chắn muốn xóa tài khoản cùng toàn bộ dữ liệu của mình.
    script.
      document.addEventListener('DOMContentLoaded', function() {
        const modal$ = document.getElementById('modal-dialog');
        modal$.classList.add('show');
      });
