extends ../layout
block content
    script.
      var challengeName = 'Email Signup'
    h2.text-center Đăng nhập bằng địa chỉ email:
    form.form-horizontal(method='POST', action='/api/users', name="signupForm")
        .row
            .col-sm-6.col-sm-offset-3
              input(type='hidden', name='_csrf', value=_csrf)
              .form-group
                  input.input-lg.form-control(type='email', name='email', id='email', placeholder='email', autofocus, required, autocomplete="off")
              .form-group
                  input.input-lg.form-control(type='password', name='password', id='password', placeholder='mật khẩu', required, pattern=".{8,50}", title="Mật khẩu chứa ít nhất 8 ký tự, và không quá 50 ký tự.")
              .form-group
                  button.btn.btn-lg.btn-primary.btn-block(type='submit')
                    span.ion-person-add
                    | Đăng ký
    .row
        .col-sm-6.col-sm-offset-3
            p.text-center
                a(href="/signin") Nếu bạn đã có tài khoản, nhấp vào đây để đăng nhập.
