extends ../layout

block content
  .col-sm-8.col-sm-offset-2.jumbotron
    form(action='/reset-password?access_token=#{accessToken}', method='POST')
      h1 Khôi phục mật khẩu.
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label(for='password') Mật khẩu mới
        input.form-control(type='password', name='password', value='', placeholder='Mật khẩu mới', autofocus=true)
      .form-group
        label(for='confirm') Xác nhận mật khẩu
        input.form-control(type='password', name='confirm', value='', placeholder='Xác nhận mật khẩu')
      .form-group
        button.btn.btn-primary.btn-reset(type='submit')
          i.fa.fa-keyboard-o
          | Đổi mật khẩu
