extends ../layout
block content
    include ../partials/flyer
    #modal-dialog.modal.animated.wobble
        .modal-dialog
            .modal-content
                .modal-header
                    a.close(href='/settings', data-dismiss='modal', aria-hidden='true') ×
                    h3 Bạn có thật sự muốn cài đặt lại tiến trình?
                .modal-body
                    p Hành động này sẽ xóa toàn bộ tiến trình này và điểm tích lũy trước đó.
                    p Sau khi đã xóa thành công, bạn sẽ không thể khôi phục lại tiến trình này.
                .modal-footer
                    a.btn.btn-success.btn-block(href='/settings', data-dismiss='modal', aria-hidden='true')
                        | Thôi bỏ đi. Tôi không muốn cài đặt lại tiến trình này.
                    .spacer
                    form(action='/account/resetprogress', method='POST')
                        input(type='hidden', name='_csrf', value=_csrf)
                        button.btn.btn-danger.btn-block(type='submit')
                            | Tôi chắc chắn muốn cài đặt lại tiến trình và xóa toàn bộ điểm tích lũy trước đó.
    script.
      document.addEventListener('DOMContentLoaded', function() {
        const modal$ = document.getElementById('modal-dialog');
        modal$.classList.add('show');
      });
