extends ../layout
block content
    .text-center
        h2 Bạn đã quay lại Free Code School?
          br
          .button-spacer
          | Đăng nhập bằng một trong các cách sau:
        a.btn.btn-lg.btn-block.btn-social.btn-primary(href='/email-signin')
            i.fa.fa-envelope
            | Đăng nhập bằng Email
        a.btn.btn-lg.btn-block.btn-social.btn-github(href='/auth/github')
            i.fa.fa-github
            | Đăng nhập bằng GitHub
        br
        p
            a(href="/deprecated-signin") Click vào đây nếu trước đó bạn đã đăng nhập bằng một cách khác.

    script.
      $(document).ready(function() {
        var method = localStorage.getItem('lastSigninMethod'),
          btnSelector = 'a.btn.btn-lg.btn-block.btn-social';
        if (method) {
          try {
            var obj = JSON.parse(method);
          } catch(e) {
            console.error('Dấu hiệu không hợp lệ trong đối tượng được lưu trữ', method);
            return;
          }
          $.each($(btnSelector), function(i, item) {
            if (
              $(item).text() === obj.method &&
              $(item).hasClass(obj.methodClass)
            ) {
              $(item).addClass('active');
              $(item).attr('title', 'Đây là phương pháp đăng nhập cuối cùng của bạn');
              return false;
            }
          });
        }

        $(btnSelector).click(function() {
          var obj = {};
          $(this).removeClass('active');
          obj.methodClass = $(this).attr('class').split(' ').pop();
          obj.method = $(this).text();
          if(obj.method === "Sign in with Email" || obj.method === "Sign in with GitHub") {
            localStorage.setItem('lastSigninMethod', JSON.stringify(obj));
          } else {
            localStorage.removeItem('lastSigninMethod');
          }
        });
      });
