Chúc mừng từ Hà Nội!
<br>
<br>
Cám ơn bạn đã tham gia cộng đồng của chúng tôi
<br>
<br>
Xin hãy xác nhận email của bạn bằng cách ấn vào liên kết bên dưới:
<br>
<br>
<a href="<%= verifyHref %>"><%= verifyHref %></a>
<br>
<br>
Đừng ngại gửi mail cho chúng tôi vào địa chỉ này nếu bạn có một số câu hỏi cho Free Code School.
<br>
<br>
<!--And if you have a moment, check out our blog: https://medium.freecodecamp.com.-->
<br>
<br>
Chúc bạn may mắn với những thử thách của chúng tôi!
<br>
<br>
<br>
- the Free Code School Dev Team.
