Thank you for updating your contact details.
Cám ơn bạn đã cập nhật chi tiết liên lạc của bạn.
<br>
<br>
Vui lòng click vào link dưới đây để xác nhận email của bạn:
<br>
<br>
<a href="<%= verifyHref %>"><%= verifyHref %></a>
<br>
<br>
Vui lòng gửi mail cho chúng tôi tới địa chỉ này nếu bạn có một số câu hỏi cho chúng tôi.
<br>
<br>
<br>
- the Free Code School Dev Team
